.popup__avatar {
  box-sizing: border-box;
  width: 430px;
  height: 272px;
  border-radius: 10px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 35px;
}

@media screen  and (min-width: 320px) and (max-width: 568px) {
  .popup__avatar {
    width: 282px;
    padding: 25px 22px;
  }
}