.profile__info {
  display: grid;
  grid-template-columns: 127px 294px 24px;
  grid-template-rows: 1fr 1fr;
  gap: 16px 16px;
  justify-content: center;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    grid-template-columns: 189px;
    grid-template-rows: 1fr;
    gap: 15px;
    margin: auto;
  }
}


