.profile__button-edit {
  background-image: url(../../../images/pens.png);
  height: 24px;
  border: 1px white solid;
  align-self: end;
  opacity: 1;
  background-color: black;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__button-edit {
    height: 18px;
    width: 18px;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
  